@import url(./normalize.css);
@import url(./fonts.css);
/* ---settings--- */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  color: #000;
}

body._lock {
  overflow: hidden;
}

a:hover,
a:focus,
a:active {
  opacity: 0.6;
}

/* ---header--- */
.header__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  max-height: 60px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.header__menu {
  display: none;
}

.header__logo-pic {
  max-width: 79px;
}

.header__button-link {
  width: 157px;
  height: 40px;
  background-color: #6f2cff;
  border-radius: 20px;
  margin-right: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__buttons .header__link {
  padding: 5px;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 52px;
}

.nav__item:last-child {
  margin-right: 0;
}

.header__link,
.nav__link {
  font-size: 14px;
  line-height: 100%;
  color: #1c1c1c;
}

/*---intro---*/
.intro {
  background-color: #f6bed9;
}

.intro__bg {
  max-width: 1440px;
  margin: 0 auto;
}

.intro__bg-image {
  background: url(../media/intro-bg.jpg) no-repeat;
  background-position: right bottom;
}

.intro__wrapper {
  padding: 150px 0 200px 115px;
}

.intro__text {
  margin-bottom: 19px;
  font-size: 15px;
  line-height: 140%;
}

.intro__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 54px;
  line-height: 113%;
}

.intro__subtitle {
  margin-bottom: 37px;
  font-weight: bold;
  font-size: 54px;
  line-height: 100%;
  color: #6f2cff;
}

.intro__description {
  margin-bottom: 4px;
  max-width: 438px;
  font-size: 18px;
  line-height: 167%;
}

.intro form {
  display: flex;
}

.intro__input {
  width: 268px;
  height: 45px;
  border: 1px solid #6f2cff;
  box-sizing: border-box;
  border-radius: 27.5px 0px 0px 27.5px;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 26px;
}

.intro__input::placeholder {
  opacity: 27%;
}

.intro__submit {
  width: 187px;
  height: 45px;
  color: #fff;
  background: #6f2cff;
  border-radius: 0px 27.5px 27.5px 0px;
  border: none;
}

.intro__submit:hover, .intro__submit:focus, .intro__submit:active {
  opacity: 0.6;
}

/*---customers---*/
.customers {
  padding: 35px 0 100px;
  text-align: center;
}

.customers__text {
  margin: 0 auto 29px;
  font-weight: bold;
  font-size: 18px;
  line-height: 167%;
  color: #1c1c1c;
}

.customers__wrapper {
  max-width: 1320px;
  height: 70px;
  margin: 0 auto 24px;
  padding: 0 55px;
  display: flex;
  justify-content: space-between;
}

.customers__brand img {
  max-height: 42px;
}

.customers__link {
  padding: 0 7px 2px;
  border-bottom: 2px solid #6f2cff;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #1c1c1c;
}

/*---ability---*/
.ability__wrapper {
  max-width: 1380px;
  margin: 0 auto;
  padding: 8px 70px 94px;
  display: flex;
}

.ability__text {
  width: 50%;
  padding-top: 177px;
}

.ability__title {
  margin-top: 0;
  margin-bottom: 58px;
  width: 401px;
  font-size: 40px;
  line-height: 112%;
  color: #1c1c1c;
}

.ability__buttons {
  margin-bottom: 56px;
  display: flex;
}

.ability__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 40px;
  background-color: #6f2cff;
  border-radius: 20px;
  margin-right: 22px;
}

.ability__button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 40px;
  background-color: #6f2cff;
  border-radius: 20px;
  margin-right: 22px;
  font-size: 15px;
  line-height: 100%;
  color: #fff;
}

.ability__link {
  padding: 14px 0;
  height: 38px;
  border-bottom: 2px solid #6f2cff;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #000;
}

.ability__text-description {
  margin-bottom: 7px;
  font-size: 15px;
  line-height: 200%;
}

.ability__text-report {
  font-size: 15px;
  line-height: 100%;
  color: #000;
}

.ability__about {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.ability__about-item {
  width: 50%;
  height: 220px;
  padding: 8px 0 108px 16px;
  border-left: 2px solid #e0e0e0;
}

.ability__about-title {
  margin-bottom: -8px;
  font-weight: bold;
  font-size: 40px;
  line-height: 112%;
}

.ability__about-description {
  font-size: 15px;
  line-height: 147%;
  white-space: pre-line;
}

/*---commerce---*/
.commerce {
  max-width: 1440px;
  margin: 0 auto;
}

.commerce__title {
  margin: 0 0 22px;
  font-weight: bold;
  font-size: 40px;
  line-height: 112%;
  text-align: center;
}

.commerce__subtitle {
  margin-bottom: 46px;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
}

.commerce__items {
  padding: 0 160px 91px;
  display: flex;
  justify-content: space-between;
}

.commerce__item {
  width: 30%;
}

.commerce__item-img {
  display: flex;
  justify-content: center;
  margin-bottom: 43px;
}

.commerce__item-img img {
  max-height: 50px;
}

.commerce__item-title {
  margin-bottom: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  line-height: 121%;
}

.commerce__item-text {
  max-width: 316px;
  text-align: center;
  font-size: 15px;
  line-height: 147%;
}

/*---power---*/
.power {
  padding: 94px 0 115px;
  background-color: #f5f5f5;
}

.power__title {
  margin: 0 0 28px;
  font-weight: bold;
  font-size: 40px;
  line-height: 112%;
  text-align: center;
}

.power__description {
  margin-bottom: 90px;
  font-size: 15px;
  line-height: 200%;
  text-align: center;
}

.power__img {
  max-height: 560px;
  display: block;
  margin: 0 auto 76px;
}

.power__buttons {
  padding: 11px 0 14px 0;
  text-align: center;
}

.power__button {
  max-width: 189px;
  margin-right: 11px;
  padding: 11px 51px;
  font-size: 15px;
  line-height: 100%;
  background: #6f2cff;
  border-radius: 30px;
  color: #fff;
}

.power__button:last-child {
  margin-right: 0;
  margin-left: 11px;
  background: #fff;
  box-shadow: 0px 0px 0px #6f2cff;
  border-radius: 30px;
  color: #6f2cff;
}

/*---benefits---*/
.benefits {
  padding: 94px 0 150px;
}

.benefits__title {
  margin: 0 0 62px;
  font-weight: bold;
  font-size: 40px;
  line-height: 112%;
  text-align: center;
}

.benefits__items {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.benefits__item {
  width: 27%;
  padding-bottom: 87px;
}

.benefits__item-img {
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
}

.benefits__item-img img {
  max-height: 50px;
}

.benefits__item-title {
  margin: 0 0 11px;
  font-weight: bold;
  font-size: 19px;
  line-height: 237%;
  text-align: center;
}

.benefits__item-text {
  max-width: 276px;
  font-size: 15px;
  line-height: 147%;
  text-align: center;
  color: #1c1c1c;
  text-align: center;
}

/*---brands---*/
.brands {
  padding: 88px 0 105px;
  background-color: #f5f5f5;
}

.brands__title {
  margin: 0 0 70px;
  font-weight: bold;
  font-size: 40px;
  line-height: 112%;
  text-align: center;
}

.brands-slider {
  box-sizing: content-box;
  padding: 0px 5px 0 47px;
  margin: 0 auto;
  max-width: 1050px;
}

.brands-slider__slide {
  max-width: 320px;
  height: 438px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
  border-radius: 7px 7px 7px 7px;
}

.brands-slider__slide-img {
  max-width: 320px;
  max-height: 205px;
  margin-bottom: 25px;
}

.brands-slider__slide-title {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.brands-slider__slide-description {
  color: #6f2cff;
  font-weight: bold;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  white-space: pre-line;
}

.swiper-button-prev {
  left: 14%;
  color: #6f2cff;
  font-weight: 600;
  border-radius: 3px;
}

.swiper-button-next {
  right: 16%;
  color: #6f2cff;
  font-weight: 600;
  border-radius: 3px;
}

.slider-container {
  position: relative;
}

/*---specialize---*/
.specialize {
  padding: 94px 0 100px;
}

.specialize__title {
  margin: 0 0 12px;
  font-weight: bold;
  font-size: 40px;
  line-height: 112%;
  text-align: center;
}

.specialize__description {
  margin-bottom: 65px;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
}

.specialize-container {
  display: flex;
  justify-content: center;
}

.specialize-container img {
  max-height: 50px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 199px);
  grid-template-columns: repeat(2, 460px);
  grid-gap: 30px;
}

.grid-container {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
}

.grid__block {
  padding: 30px 0 0 30px;
  background: #17002e;
  border-radius: 8px 10px 10px 8px;
}

.grid__block img {
  margin-right: 20px;
}

.grid__block-title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 139%;
  color: #fff;
}

.grid__block-description {
  max-width: 377px;
  height: 44px;
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 147%;
  color: #fff;
}

.grid__block-link {
  display: inline-block;
  font-size: 15px;
  line-height: 100%;
  color: #fff;
}

.grid__block:nth-child(3) .grid__block-link {
  top: 29px;
}

.grid__block:nth-child(5) .grid__block-link {
  top: 29px;
}

.grid__block:nth-child(1) .grid__block-link {
  width: 358px;
  padding-bottom: 9px;
  border-bottom: 2px solid #fff;
}

.grid__block:nth-child(2) .grid__block-link {
  width: 249px;
  padding-bottom: 9px;
  border-bottom: 2px solid #fff;
}

.grid__block:nth-child(3) .grid__block-link {
  width: 238px;
  padding-bottom: 9px;
  border-bottom: 2px solid #fff;
}

.grid__block:nth-child(4) .grid__block-link {
  width: 247px;
  padding-bottom: 9px;
  border-bottom: 2px solid #fff;
}

.grid__block:nth-child(5) .grid__block-link {
  width: 327px;
  padding-bottom: 9px;
  border-bottom: 2px solid #fff;
}

.grid__block:nth-child(6) .grid__block-link {
  width: 299px;
  padding-bottom: 9px;
  border-bottom: 2px solid #fff;
}

/*---ecosystem---*/
.ecosystem {
  background-color: #f5f5f5;
}

.ecosystem__wrapper {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 90px 20px 110px;
}

.ecosystem__text {
  max-width: 50%;
  margin-right: 83px;
  padding-top: 129px;
}

.ecosystem__text-title {
  margin: 0 0 47px;
  font-weight: bold;
  font-size: 40px;
  line-height: 112%;
  color: #17002e;
}

.ecosystem__text-description {
  margin-bottom: 11px;
  font-size: 13px;
  line-height: 231%;
}

.ecosystem__text-description + .ecosystem__text-description {
  margin-bottom: 85px;
}

.ecosystem__text-link {
  width: 203px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  background: #6f2cff;
  border-radius: 30px;
}

.ecosystem__img {
  max-width: 50%;
}

.ecosystem img {
  max-height: 567px;
}

/*---demo---*/
.demo {
  padding: 93px 0 107px;
}

.demo__bg {
  background: url(../media/demo-backgroundjpg.jpg) center repeat-x;
}

.demo__title {
  margin: 0 0 39px;
  font-weight: bold;
  font-size: 40px;
  line-height: 112%;
  text-align: center;
  color: #fff;
}

.demo__form {
  display: flex;
  justify-content: center;
  text-align: center;
}

.demo__form form {
  display: flex;
}

.demo__input {
  max-width: 268px;
  height: 45px;
  border: 1px solid #6f2cff;
  box-sizing: border-box;
  border-radius: 27.5px 0px 0px 27.5px;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 26px;
}

.demo__input::placeholder {
  opacity: 27%;
}

.demo__submit {
  max-width: 187px;
  height: 45px;
  color: #fff;
  background: #6f2cff;
  border-radius: 0px 27.5px 27.5px 0px;
  border: none;
  padding: 13px 45px 11px;
}

.demo__submit:hover, .demo__submit:focus, .demo__submit:active {
  opacity: 0.6;
}

/*---adoption---*/
.adoption {
  padding-bottom: 45px;
  background-color: #f5f5f5;
}

.adoption__img {
  display: flex;
  justify-content: center;
  margin-bottom: 29px;
}

.adoption__img img {
  max-height: 182px;
}

.adoption__description {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 281%;
  text-align: center;
  color: #1c1c1c;
}

.adoption__items {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.adoption__items-link {
  margin-right: 30px;
}

.adoption__items-link img {
  max-height: 23px;
}

.adoption__items-link:last-child {
  margin-right: 0;
}

/*---footer---*/
.footer {
  position: relative;
  padding: 57px 0 82px;
  background-color: #20003c;
  color: #fff;
}

.footer__text {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.footer__text h3 {
  margin: 0 0 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
}

.footer__text a {
  display: block;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
}

.footer__capabilities-block {
  display: flex;
}

.footer__capabilities-container {
  max-width: 159px;
  margin-right: 33px;
}

.footer__capabilities-container:last-child {
  margin-right: 28px;
}

.footer__products {
  width: 182px;
  margin-right: 10px;
}

.footer__resources {
  margin-right: 110px;
}

.footer__company {
  margin-right: 114px;
}

.footer__copyright {
  padding: 0 110px;
}

.footer__copyright-img {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

.footer__copyright-text {
  position: relative;
  display: flex;
  justify-content: center;
}

.footer__copyright-svg {
  position: absolute;
  left: 110px;
}

.footer__copyright-svg img {
  max-height: 18px;
}

.footer__copyright-description {
  display: flex;
  justify-content: center;
  font-size: 13px;
  line-height: 231%;
}

@media screen and (max-width: 1664px) {
  .swiper-button-prev {
    left: 7%;
  }
  .swiper-button-next {
    right: 9%;
  }
}

@media screen and (max-width: 1400px) {
  .nav__item {
    margin-right: 47px;
  }
  .header__button-link {
    width: 145px;
  }
  .swiper-button-prev {
    left: 1%;
  }
  .swiper-button-next {
    right: 3%;
  }
  .ecosystem__text {
    margin-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .nav__list {
    padding: 0;
  }
  .nav__item {
    margin-right: 23px;
  }
  .header__wrapper {
    padding: 10px 18px;
  }
  .header__button-link {
    width: 130px;
    margin-right: 20px;
  }
  .intro__description, .intro__text {
    text-shadow: 0 0 black;
  }
  .customers__wrapper {
    padding: 0 30px;
  }
  .commerce__items {
    padding: 0 23px 91px;
  }
  .power__img {
    width: 840px;
  }
  .benefits__items {
    padding: 34px 15px 0;
  }
  .brands-slider {
    box-sizing: border-box;
    max-width: 942px;
    margin-bottom: 20px;
    padding: 0 27px 0 15px;
  }
  .brands-slider__slide {
    max-width: 275px;
  }
  .brands-slider__slide-img {
    max-width: 274px;
  }
  .swiper-button-prev {
    left: 0;
    margin: 0 10px 0 0;
  }
  .swiper-button-next {
    right: 0;
    margin: 0 0 0 10px;
    padding-left: 35px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  .slider-buttons {
    display: flex;
    justify-content: center;
  }
  .ecosystem__wrapper {
    padding-top: 50px;
  }
  .ecosystem__text {
    padding-top: 60px;
  }
  .ecosystem__text-title {
    font-size: 35px;
  }
  .ecosystem__image {
    max-width: 450px;
  }
  .footer__resources {
    margin-right: 50px;
  }
  .footer__company {
    margin-right: 50px;
  }
  .footer__copyright-svg {
    left: 20px;
  }
}

@media screen and (max-width: 992px) {
  .header__wrapper {
    padding: 10px;
  }
  .header__logo-pic {
    max-width: 67px;
  }
  .header__logo-link {
    display: flex;
  }
  .header__button-link {
    width: 100px;
    height: 35px;
    margin-right: 5px;
    font-size: 12px;
  }
  .nav__item {
    margin-right: 15px;
    font-size: 13px;
  }
  .nav__link {
    font-size: 13px;
  }
  .intro__wrapper {
    padding-left: 50px;
    padding-bottom: 300px;
  }
  .intro__text {
    font-size: 14px;
  }
  .intro__title {
    font-size: 47px;
  }
  .intro__subtitle {
    font-size: 47px;
  }
  .intro__description {
    font-size: 16px;
  }
  .customers__brand img {
    max-width: 73px;
    max-height: 32px;
  }
  .customers__wrapper {
    max-height: 50px;
  }
  .ability__wrapper {
    padding: 8px 55px 94px;
  }
  .ability__text {
    width: 55%;
  }
  .ability__title {
    width: 100%;
    font-size: 33px;
  }
  .ability__button-link {
    width: 162px;
    height: 38px;
    margin-right: 18px;
  }
  .ability__about {
    width: 45%;
  }
  .ability__about-title {
    font-size: 35px;
  }
  .ability__about-description {
    font-size: 14px;
  }
  .commerce__item {
    padding: 0 30px;
  }
  .power__description {
    font-size: 14px;
  }
  .power__img {
    max-width: 740px;
  }
  .benefits__item {
    width: 30%;
  }
  .benefits__item-title {
    font-size: 16px;
  }
  .benefits__item_text {
    font-size: 14px;
  }
  .brands-slider {
    max-width: 727px;
  }
  .brands-slider__slide {
    width: 201px;
    height: 410px;
  }
  .brands-slider__slide-img {
    max-width: 201px;
  }
  .brands-slider__slide-title img {
    max-height: 30px;
  }
  .brands-slider__slide-description {
    font-size: 16px;
  }
  .grid {
    grid-template-columns: repeat(2, 348px);
  }
  .grid__block {
    padding: 30px 10px 0 20px;
  }
  .grid__block-description {
    font-size: 14px;
  }
  .grid__block-link {
    font-size: 14px;
  }
  .grid__block:nth-child(1) .grid__block-link {
    width: 316px;
  }
  .grid__block:nth-child(5) .grid__block-link {
    width: 303px;
  }
  .ecosystem__wrapper {
    padding: 40px 0 20px 50px;
  }
  .ecosystem__text-title {
    font-size: 32px;
  }
  .ecosystem__text-description + .ecosystem__text-description {
    margin-bottom: 30px;
  }
  .ecosystem__image {
    max-width: 343px;
  }
  .footer {
    padding: 57px 20px 82px;
  }
  .footer__text h3 {
    font-size: 14px;
  }
  .footer__text a {
    font-size: 12px;
  }
  .footer__capabilities-container {
    margin-right: 17px;
  }
  .footer__capabilities-container:last-child {
    margin-right: 17px;
  }
  .footer__resources, .footer__company {
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    position: fixed;
    z-index: 15;
    width: 100%;
  }
  .header__buttons a {
    margin-right: 20px;
  }
  .header__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .header__burger::before, .header__burger::after,
  .header__burger span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #6f2cff;
  }
  .header__burger::before, .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .nav__list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 60px 30px 30px 30px;
    background-color: #1c1c1c;
    transition: right 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .nav__list._active {
    right: 0%;
  }
  .nav__item {
    margin-bottom: 18px;
  }
  .nav__link {
    font-size: 22px;
    color: #fff;
  }
  .intro__bg {
    background: url(../media/intro-bg.jpg) no-repeat;
    background-position: top right;
    background-size: 764px;
  }
  .intro__bg-image {
    background: none;
  }
  .intro__wrapper {
    padding-top: 200px;
    padding-bottom: 140px;
  }
  .customers__wrapper {
    max-width: 300px;
    height: initial;
    max-height: 100%;
    flex-wrap: wrap;
  }
  .customers__brand img {
    max-width: 100%;
    max-height: initial;
  }
  .commerce__item {
    padding: 0;
  }
  .ability__wrapper {
    padding: 20px 0 94px;
    flex-direction: column;
  }
  .ability__text {
    width: initial;
    margin-bottom: 40px;
    padding: initial;
  }
  .ability__text-description, .ability__text-report {
    display: block;
    text-align: center;
  }
  .ability__title {
    padding: 0 15px;
    text-align: center;
  }
  .ability__buttons {
    justify-content: center;
  }
  .ability__about {
    width: initial;
  }
  .ability__about-title {
    text-align: center;
  }
  .ability__about-description {
    text-align: center;
  }
  .ability__about-item {
    height: initial;
    padding-bottom: 70px;
    padding-right: 20px;
  }
  .power {
    padding: 94px 10px 115px;
  }
  .power__img {
    max-width: 90%;
  }
  .benefits {
    padding: 50px 15px;
  }
  .benefits__title {
    margin-bottom: 40px;
  }
  .benefits__items {
    justify-content: space-around;
  }
  .benefits__item {
    width: initial;
    padding: 0 10px 40px;
  }
  .specialize {
    padding: 50px 15px;
  }
  .grid {
    grid-template-rows: repeat(6, 199px);
    grid-template-columns: 1fr;
  }
  .grid__block-description {
    font-size: 15px;
  }
  .ecosystem__wrapper {
    padding: 50px 20px;
    flex-direction: column;
  }
  .ecosystem__text {
    max-width: 100%;
    padding: 60px 0 0;
    text-align: center;
  }
  .ecosystem__text-link {
    display: inline-flex;
  }
  .ecosystem__img {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer {
    z-index: 5;
  }
  .footer__text {
    flex-direction: column;
  }
  .footer__text h3 {
    text-align: center;
  }
  .footer__capabilities {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer__capabilities-block {
    flex-direction: column;
  }
  .footer__capabilities-container {
    max-width: initial;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__capabilities-container:last-child {
    margin-right: 0;
  }
  .footer__capabilities-container:first-child {
    margin-bottom: 11px;
  }
  .footer__capabilities-text {
    margin-right: 30px;
  }
  .footer__products {
    margin-right: 0;
    width: initial;
    margin-bottom: 30px;
  }
  .footer__products-block {
    flex-direction: column;
  }
  .footer__products-container {
    max-width: initial;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__products-text {
    margin-right: 30px;
  }
  .footer__resources {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer__resources-block {
    flex-direction: column;
  }
  .footer__resources-container {
    max-width: initial;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__resources-text {
    margin-right: 30px;
  }
  .footer__company {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer__company-block {
    flex-direction: column;
  }
  .footer__company-container {
    max-width: initial;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__company-text {
    margin-right: 30px;
  }
  .footer__working {
    margin-right: 0;
  }
  .footer__working-block {
    flex-direction: column;
  }
  .footer__working-container {
    max-width: initial;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__working-text {
    margin-right: 30px;
  }
  .footer__copyright {
    padding: initial;
  }
  .footer__copyright-svg {
    left: 20px;
  }
}

@media screen and (max-width: 650px) {
  .benefits__items {
    flex-direction: column;
  }
  .benefits__item-text {
    max-width: 100%;
  }
}

@media screen and (max-width: 624px) {
  .intro__wrapper {
    padding: 200px 30px 140px;
  }
  .intro__title {
    font-size: 45px;
  }
  .intro__subtitle {
    font-size: 45px;
  }
  .intro__description {
    font-size: 15px;
  }
  .commerce__items {
    padding: 0 15px 94px 15px;
    flex-direction: column;
  }
  .commerce__item {
    margin-bottom: 50px;
    width: initial;
    padding: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .commerce__item-text {
    max-width: 100%;
  }
  .commerce__item-img {
    max-height: 50px;
    margin: 0;
  }
  .power__buttons {
    display: flex;
    justify-content: center;
  }
  .power__button {
    display: flex;
    justify-content: center;
    padding: 11px 15px;
    align-items: center;
    width: 189px;
  }
  .demo {
    padding: 93px 15px 107px;
  }
}

@media screen and (max-width: 500px) {
  .brands {
    display: none;
  }
  .nav__list {
    width: 60%;
  }
  .intro__bg {
    background-size: 620px;
  }
  .intro__wrapper {
    padding: 200px 15px 140px;
  }
  .intro__title, .intro__subtitle {
    font-size: 36px;
  }
  .intro__input {
    width: 100%;
  }
  .ability__title {
    font-size: 35px;
  }
  .ability__button-link {
    margin-right: 8px;
  }
  .commerce__title {
    font-size: 35px;
  }
  .power__title {
    font-size: 35px;
  }
  .benefits__title {
    font-size: 35px;
  }
  .specialize__title {
    font-size: 35px;
  }
  .grid__block {
    padding: 30px 10px;
  }
  .grid__block-description {
    font-size: 14px;
  }
  .grid__block-link {
    font-size: 12px;
  }
  .grid__block:nth-child(1) .grid__block-link {
    width: initial;
  }
  .grid__block:nth-child(2) .grid__block-link {
    width: initial;
  }
  .grid__block:nth-child(3) .grid__block-link {
    width: initial;
  }
  .grid__block:nth-child(4) .grid__block-link {
    width: initial;
  }
  .grid__block:nth-child(5) .grid__block-link {
    width: initial;
  }
  .grid__block:nth-child(6) .grid__block-link {
    width: initial;
  }
  .ecosystem__text {
    padding: 0;
  }
  .ecosystem__title {
    font-size: 35px;
  }
  .ecosystem__image {
    max-width: 100%;
  }
  .demo__title {
    font-size: 30px;
  }
  .demo__input {
    width: 100%;
  }
  .demo__submit {
    padding: 13px 15px 11px;
  }
  .footer__capabilities-container {
    justify-content: flex-start;
  }
  .footer__products-container {
    justify-content: flex-start;
  }
  .footer__resources-container {
    justify-content: flex-start;
  }
  .footer__company-container {
    justify-content: flex-start;
  }
  .footer__working-container {
    justify-content: flex-start;
  }
}
