@import url(./reset.css);
@import url(./normalize.css);
@import url(./fonts.css);

/* ---settings--- */

$black: #000;
$black-light: #1c1c1c;
$purple: #6f2cff;
$white: #ffffff;
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: $black;
}

a:hover,
a:focus,
a:active {
    opacity: 0.6;
}

/* ---header--- */

.header {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    max-width: 1440px;
    max-height: 60px;
    margin: 10px auto;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 52px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: $black-light;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: 0.6;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__button {
    width: 157px;
    height: 40px;
    background-color: $purple;
    border-radius: 20px;
    margin-right: 38px;
    padding: 11px 34px 15px;
}

.header__button-link {
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: $white;
}

.header__button-link:hover,
.header__button-link:focus,
.header__button-link:active {
    opacity: 0.6;
}

/*---intro---*/

.intro {
    padding-top: 194px;
    padding-left: 115px;
    margin: 0 auto 35px;
    width: 1440px;
    height: 755px;
    background: url(../media/intro-bg.jpg) no-repeat center;
    background-size: cover;
}

.intro__text p {
    font-size: 15px;
    line-height: 21px;
}

.intro__text {
    margin-bottom: 19px;
}

.intro__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 54px;
    line-height: 61px;
}

.intro__subtitle {
    margin-bottom: 37px;
    font-weight: bold;
    font-size: 54px;
    line-height: 54px;
    color: $purple;
}

.intro__description {
    margin-bottom: 4px;
    width: 438px;
    font-size: 18px;
    line-height: 30px;
}

.intro__form form {
    display: flex;
}

.intro__input {
    width: 268px;
    height: 45px;
    border: 1px solid $purple;
    box-sizing: border-box;
    border-radius: 27.5px 0px 0px 27.5px;
    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 26px;
}

.intro__input::placeholder {
    opacity: 27%;
}

.intro__submit {
    width: 187px;
    height: 45px;
    color: $white;
    background: $purple;
    border-radius: 0px 27.5px 27.5px 0px;
    border: none;
    padding: 13px 45px 11px;
}

.intro__submit:hover,
.intro__submit:focus,
.intro__submit:active {
    opacity: 0.6;
}

/*---customers---*/

.customers__text {
    margin: 0 auto 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: $black-light;
    text-align: center;
}

.customers__wrapper {
    width: 1320px;
    height: 70px;
    margin: 0 auto 10px;
    padding: 14px 55px;
    display: flex;
    justify-content: space-between;
}

.customers__link:hover,
.customers__link:focus,
.customers__link:active {
    opacity: 0.6;
}

.customers__item {
    width: 170px;
    height: 24px;
    margin: 0 auto 100px;
    text-align: center;
    border-bottom: 2px solid $purple;
    .customers__link {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: $black-light;
        text-decoration: none;
    }
}

/*---ability---*/

.ability__wrapper {
    margin-bottom: 94px;
    max-width: 1380px;
    margin: 0 auto 94px;
    padding: 8px 70px 0px;
    display: flex;
}

.ability__text {
    margin-right: 218px;
}

.ability__title {
    margin-bottom: 58px;
    width: 401px;
    font-size: 40px;
    line-height: 45px;
    color: $black-light;
}

.ability__buttons {
    margin-bottom: 56px;
    display: flex;
}

.ability__button {
    width: 187px;
    height: 40px;
    background-color: $purple;
    border-radius: 20px;
    margin-right: 22px;
    padding: 11px 45px 15px;
}

.ability__button-link {
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    color: $white;
}

.ability__item {
    box-sizing: initial;
    padding: 7px 0;
    height: 21px;
    border-bottom: 2px solid $purple;
    .ability__link {
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
        color: $black;
    }
}

.ability__text-description {
    margin-bottom: 7px;
    font-size: 15px;
    line-height: 30px;
}

.ability__text-report {
    font-size: 15px;
    line-height: 15px;
    color: $black;
}

.ability__about {
    display: flex;
    flex-wrap: wrap;
}

.ability__about-item {
    padding-left: 16px;
    width: 310px;
    height: 220px;
    border-left: 2px solid #e0e0e0;
}

.ability__about-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
}

.ability__about-description {
    font-size: 15px;
    line-height: 22px;
    white-space: pre-line;
}

/*---commerce---*/

.commerce {
    margin: 0 auto;
    width: 1440px;
}

.commerce__title h2 {
    margin: 0 auto 22px;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
}

.commerce__subtitle p {
    margin-bottom: 46px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.commerce__items {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    justify-content: space-around;
}

.commerce__item {
    width: 320px;
}

.commerce__item-img {
    display: flex;
    justify-content: center;
    margin-bottom: 43px;
}

.commerce__item-title {
    margin-bottom: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
}

.commerce__item-text {
    text-align: center;
    font-size: 15px;
    line-height: 15px;
}
